---
import Button from "./Button.astro"
---

<nav class={`px-6 py-3 fixed w-full z-50 transition-all duration-300 bg-white shadow-md`}>
	<div class="flex justify-between items-center">
		<a href="#" class="flex items-center space-x-2">
			<div class="w-8 h-8 rounded-full bg-linear-to-br from-pink-500 via-purple-500 to-orange-600" />
			<span class="font-extrabold text-xl tracking-tighter">
				QUT <span class="text-pink-500">TECH INDUSTRY</span> NIGHT
			</span>
		</a>

		<div class="hidden md:flex space-x-8">
			<!-- {
				NAV_ITEMS.map((item) => (
					<a
						key={item.label}
						href={item.href}
						class="text-sm font-semibold hover:text-pink-500 transition-colors duration-200"
						style={{ color: COLORS.text }}
					>
						{item.label}
					</a>
				))
			} -->
            <a href="#" class="text-sm font-semibold hover:text-pink-500 transition-colors duration-200">About</a>
            <a href="#" class="text-sm font-semibold hover:text-pink-500 transition-colors duration-200">Schedule</a>
            <a href="#" class="text-sm font-semibold hover:text-pink-500 transition-colors duration-200">FAQ</a>
            <a href="#" class="text-sm font-semibold hover:text-pink-500 transition-colors duration-200">Ticketing</a>
		</div>

		<Button theme="pink" size="sm" variant="filled" rounding="pill">
            Get Tickets
        </Button>
	</div>
</nav>
