---
import { Icon } from "astro-icon/components"
import Wrapper from "./Wrapper.astro"
---

<Wrapper id="organisers">
    <div class="flex flex-col items-center mx-auto text-center">
        <span class="text-orange-500 font-bold tracking-widest uppercase text-sm mb-4 block">Powering the Event</span>
        <h2 class="font-black text-5xl sm:text-6xl">Meet the Organisers</h2>
        <p class="text-sm sm:text-lg max-w-2xl mx-auto my-4">
            This event is curated for students, by students. Connect with the clubs that make it happen.
        </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-green-500 bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-green-500 text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:code" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                Code Network
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-green-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>

        <div class="p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-red-500 bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-red-500 text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:device-laptop" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                Women In Tech
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-red-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>

        <div class="p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-orange-500 bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-orange-500 text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:rocket" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                QUT Aerospace Society
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-orange-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>

        <div class="p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-yellow-500 bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-yellow-500 text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:bolt" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                QUT Electrical Engineering Student Society
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-yellow-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>

        <div class="p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-black bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-black text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:graph" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                Business Analytics and Data Science Club
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-black-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>

        <div class="p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-pink-500 bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-pink-500 text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:brain" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                QUT AI & ML Society
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-pink-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>

        <div class="p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-blue-500 bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-blue-500 text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:lock-open" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                Cyber Security Club
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-blue-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>

        <div class="p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-indigo-500 bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-indigo-500 text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:device-gamepad" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                Game Dev Club
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-indigo-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>

        <div class="p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-indigo-500 bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-indigo-500 text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:gavel" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                QUT Law, Innovation & Technology Society
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-indigo-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>

        <div class="md:col-start-2 p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 border-b-indigo-500 bg-white">
            <div class="w-16 h-16 rounded-2xl flex items-center justify-center text-white bg-indigo-500 text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg">
                <Icon name="tabler:stereo-glasses" />
            </div>

            <h3 class="font-extrabold text-lg mb-4 leading-tight">
                QUT Reality Labs
            </h3>

            <div class="flex gap-3 mt-auto">
                  <a href="" class="w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white hover:bg-indigo-500 transition-all hover:scale-110">
                    <span class="sr-only">Instagram</span>
                    <span class="text-xl font-black uppercase tracking-tighter">
                        <Icon name="tabler:brand-instagram" />
                    </span>
                  </a>
            </div>
        </div>
    </div>
</Wrapper>
