---
import { Icon } from "astro-icon/components"
import Wrapper from "./Wrapper.astro"

const organisers = [
    {
        name: "Code Network",
        icon: "tabler:code",
        colors: {
            bg: "bg-green-500",
            border: "border-b-green-500",
            hover: "hover:bg-green-500"
        },
        link: "https://www.instagram.com/codenetwork_/"
    },
    {
        name: "Women In Tech",
        icon: "tabler:device-laptop",
        colors: {
            bg: "bg-red-500",
            border: "border-b-red-500",
            hover: "hover:bg-red-500"
        },
        link: "https://www.instagram.com/womenintech_qut/"
    },
    {
        name: "QUT Aerospace Society",
        icon: "tabler:rocket",
        colors: {
            bg: "bg-orange-500",
            border: "border-b-orange-500",
            hover: "hover:bg-orange-500"
        },
        link: "https://www.instagram.com/qut_aerospace_society/"
    },
    {
        name: "QUT Electrical Engineering Student Society",
        icon: "tabler:bolt",
        colors: {
            bg: "bg-yellow-500",
            border: "border-b-yellow-500",
            hover: "hover:bg-yellow-500"
        },
        link: "https://www.instagram.com/qut_eess/"
    },
    {
        name: "QUT AI & ML Society",
        icon: "tabler:brain",
        colors: {
            bg: "bg-pink-500",
            border: "border-b-pink-500",
            hover: "hover:bg-pink-500"
        },
        link: "https://www.instagram.com/qut_aiml/"
    },
    {
        name: "Cyber Security Club",
        icon: "tabler:lock-open",
        colors: {
            bg: "bg-blue-500",
            border: "border-b-blue-500",
            hover: "hover:bg-blue-500"
        },
        link: "https://www.instagram.com/qut_cybersec/"
    },
    {
        name: "Game Dev Club",
        icon: "tabler:device-gamepad",
        colors: {
            bg: "bg-indigo-500",
            border: "border-b-indigo-500",
            hover: "hover:bg-indigo-500"
        },
        link: "https://www.instagram.com/gdcqut/"
    },
    {
        name: "QUT Reality Labs",
        icon: "tabler:stereo-glasses",
        colors: {
            bg: "bg-indigo-500",
            border: "border-b-indigo-500",
            hover: "hover:bg-indigo-500"
        },
        link: "https://www.instagram.com/qutrealitylabs_/"
    },
    {
        name: "QUT Law, Innovation & Technology Society",
        icon: "tabler:gavel",
        colors: {
            bg: "bg-indigo-500",
            border: "border-b-indigo-500",
            hover: "hover:bg-indigo-500"
        },
        link: "https://www.instagram.com/qutlitsociety/"
    },
    {
        name: "Business Analytics and Data Science Club",
        icon: "tabler:graph",
        colors: {
            bg: "bg-black",
            border: "border-b-black",
            hover: "hover:bg-black"
        },
        link: "https://www.instagram.com/qutbands/"
    }
]
---

<Wrapper id="organisers">
    <div class="flex flex-col items-center mx-auto text-center">
        <span class="text-orange-500 font-bold tracking-widest uppercase text-sm mb-4 block">Powering the Event</span>
        <h2 class="font-black text-5xl sm:text-6xl">Meet the Organisers</h2>
        <p class="text-sm sm:text-lg max-w-2xl mx-auto my-4">
            This event is curated for students, by students. Connect with the clubs that make it happen.
        </p>
    </div>

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto">
        {
            organisers.sort((a, b) => a.name.localeCompare(b.name)).map((org, idx, arr) => {

                const isLastAlone = arr.length % 3 === 1 && idx === arr.length - 1
                return (
                    <div class={ `${ isLastAlone ? "sm:col-start-2" : "" } w-full max-w-sm p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 ${ org.colors.border } bg-white` }>
                        <div class={ `w-16 h-16 rounded-2xl flex items-center justify-center text-white ${ org.colors.bg } text-xl font-black mb-6 transition-transform group-hover:scale-110 group-hover:rotate-3 shadow-lg` }>
                            <Icon name={ org.icon } />
                        </div>

                        <h3 class="font-extrabold text-lg mb-4 leading-tight">
                            { org.name }
                        </h3>

                        <div class="flex gap-3 mt-auto">
                            <a href={ org.link } class={ `w-8 h-8 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white ${ org.colors.hover } transition-all hover:scale-110` }>
                                <span class="sr-only">Instagram</span>
                                <span class="text-xl font-black uppercase tracking-tighter">
                                    <Icon name="tabler:brand-instagram" />
                                </span>
                            </a>
                        </div>
                    </div>
                )
            })
        }
    </div>
</Wrapper>
